USE [FoodStoreDB]
GO
/****** Object:  Table [dbo].[tbl_Admin]    Script Date: 01-Feb-26 7:35:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Admin](
	[AdminID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AdminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_Areas]    Script Date: 01-Feb-26 7:35:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Areas](
	[AreaID] [int] IDENTITY(1,1) NOT NULL,
	[AreaName] [nvarchar](100) NOT NULL,
	[CityID] [int] NULL,
	[IsActive] [bit] NULL DEFAULT ((1)),
PRIMARY KEY CLUSTERED 
(
	[AreaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_Categories]    Script Date: 01-Feb-26 7:35:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[CategoryImage] [nvarchar](max) NULL,
	[IsActive] [bit] NULL DEFAULT ((1)),
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_Cities]    Script Date: 01-Feb-26 7:35:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Cities](
	[CityID] [int] IDENTITY(1,1) NOT NULL,
	[CityName] [nvarchar](100) NOT NULL,
	[IsActive] [bit] NULL DEFAULT ((1)),
PRIMARY KEY CLUSTERED 
(
	[CityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_ContactQueries]    Script Date: 01-Feb-26 7:35:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_ContactQueries](
	[QueryID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[Subject] [nvarchar](200) NULL,
	[Message] [nvarchar](max) NULL,
	[QueryDate] [datetime] NULL DEFAULT (getdate()),
	[Phone] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[QueryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_Leads]    Script Date: 01-Feb-26 7:35:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Leads](
	[LeadID] [int] IDENTITY(1,1) NOT NULL,
	[RestaurantID] [int] NULL,
	[ActionType] [varchar](50) NULL,
	[ActionDate] [datetime] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[LeadID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_Reports]    Script Date: 01-Feb-26 7:35:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Reports](
	[ReportID] [int] IDENTITY(1,1) NOT NULL,
	[RestaurantID] [int] NULL,
	[ReportReason] [nvarchar](100) NULL,
	[UserMessage] [nvarchar](max) NULL,
	[ReportDate] [datetime] NULL DEFAULT (getdate()),
	[Status] [nvarchar](50) NULL DEFAULT ('New'),
PRIMARY KEY CLUSTERED 
(
	[ReportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_Restaurants]    Script Date: 01-Feb-26 7:35:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Restaurants](
	[RestaurantID] [int] IDENTITY(1,1) NOT NULL,
	[SellerID] [int] NULL,
	[CityID] [int] NULL,
	[CategoryID] [int] NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Address] [nvarchar](max) NULL,
	[Landmark] [nvarchar](200) NULL,
	[Phone] [nvarchar](20) NULL,
	[OpenTime] [nvarchar](50) NULL,
	[CloseTime] [nvarchar](50) NULL,
	[MinPrice] [int] NULL,
	[MaxPrice] [int] NULL,
	[SignatureDish] [nvarchar](200) NULL,
	[SignatureDishImage] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[CoverImage] [nvarchar](max) NULL,
	[ApprovalStatus] [int] NULL DEFAULT ((0)),
	[ListingDate] [datetime] NULL DEFAULT (getdate()),
	[AreaID] [int] NULL,
	[MapEmbedUrl] [nvarchar](max) NULL,
	[Facilities] [nvarchar](max) NULL,
	[MenuImages] [nvarchar](max) NULL,
	[OfferText] [nvarchar](100) NULL,
	[Latitude] [decimal](18, 10) NULL,
	[Longitude] [decimal](18, 10) NULL,
PRIMARY KEY CLUSTERED 
(
	[RestaurantID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_Reviews]    Script Date: 01-Feb-26 7:35:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Reviews](
	[ReviewID] [int] IDENTITY(1,1) NOT NULL,
	[RestaurantID] [int] NULL,
	[UserName] [nvarchar](100) NULL,
	[Rating] [int] NULL,
	[ReviewText] [nvarchar](max) NULL,
	[IsApproved] [bit] NULL DEFAULT ((0)),
	[ReviewDate] [datetime] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[ReviewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_Sellers]    Script Date: 01-Feb-26 7:35:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Sellers](
	[SellerID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](15) NULL,
	[Address] [nvarchar](max) NULL,
	[CityID] [int] NULL,
	[RegistrationDate] [datetime] NULL DEFAULT (getdate()),
	[IsApproved] [bit] NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[SellerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[tbl_Admin] ON 

INSERT [dbo].[tbl_Admin] ([AdminID], [Username], [Password]) VALUES (1, N'admin', N'admin123')
SET IDENTITY_INSERT [dbo].[tbl_Admin] OFF
SET IDENTITY_INSERT [dbo].[tbl_Areas] ON 

INSERT [dbo].[tbl_Areas] ([AreaID], [AreaName], [CityID], [IsActive]) VALUES (1, N'Bde park ke pass Hemu colony park , Bapu Nagar', 1, 1)
INSERT [dbo].[tbl_Areas] ([AreaID], [AreaName], [CityID], [IsActive]) VALUES (2, N'Bapu Nagar', 1, 1)
INSERT [dbo].[tbl_Areas] ([AreaID], [AreaName], [CityID], [IsActive]) VALUES (3, N'Hemu colony park , Bapu Nagar', 1, 1)
SET IDENTITY_INSERT [dbo].[tbl_Areas] OFF
SET IDENTITY_INSERT [dbo].[tbl_Categories] ON 

INSERT [dbo].[tbl_Categories] ([CategoryID], [CategoryName], [CategoryImage], [IsActive]) VALUES (1, N'Dining / Family Restaurant', N'category_1.jpg', 1)
INSERT [dbo].[tbl_Categories] ([CategoryID], [CategoryName], [CategoryImage], [IsActive]) VALUES (2, N'Cafe', N'category_2.png', 1)
INSERT [dbo].[tbl_Categories] ([CategoryID], [CategoryName], [CategoryImage], [IsActive]) VALUES (3, N'Street Food', N'category_3.jpg', 1)
SET IDENTITY_INSERT [dbo].[tbl_Categories] OFF
SET IDENTITY_INSERT [dbo].[tbl_Cities] ON 

INSERT [dbo].[tbl_Cities] ([CityID], [CityName], [IsActive]) VALUES (1, N'Bhilwara', 1)
INSERT [dbo].[tbl_Cities] ([CityID], [CityName], [IsActive]) VALUES (2, N'Ajmer', 1)
INSERT [dbo].[tbl_Cities] ([CityID], [CityName], [IsActive]) VALUES (3, N'Jaipur', 1)
SET IDENTITY_INSERT [dbo].[tbl_Cities] OFF
SET IDENTITY_INSERT [dbo].[tbl_ContactQueries] ON 

INSERT [dbo].[tbl_ContactQueries] ([QueryID], [Name], [Email], [Subject], [Message], [QueryDate], [Phone]) VALUES (1, N'Siddhi Tailor', N'siddhitailor8@gmail.com', N'gfg', N'nrbgefvcd', CAST(N'2026-01-21 15:31:58.640' AS DateTime), NULL)
INSERT [dbo].[tbl_ContactQueries] ([QueryID], [Name], [Email], [Subject], [Message], [QueryDate], [Phone]) VALUES (2, N'Nikhil Rupani', N'nikhilrupani17@gmail.com', N'asdfghj', N'aasdfghn', CAST(N'2026-01-21 16:25:21.903' AS DateTime), N'9887731723')
SET IDENTITY_INSERT [dbo].[tbl_ContactQueries] OFF
SET IDENTITY_INSERT [dbo].[tbl_Leads] ON 

INSERT [dbo].[tbl_Leads] ([LeadID], [RestaurantID], [ActionType], [ActionDate]) VALUES (1, 2, N'WhatsApp Click', CAST(N'2026-01-23 14:13:26.343' AS DateTime))
INSERT [dbo].[tbl_Leads] ([LeadID], [RestaurantID], [ActionType], [ActionDate]) VALUES (2, 2, N'WhatsApp Click', CAST(N'2026-01-23 14:13:34.247' AS DateTime))
INSERT [dbo].[tbl_Leads] ([LeadID], [RestaurantID], [ActionType], [ActionDate]) VALUES (3, 2, N'WhatsApp Click', CAST(N'2026-01-23 14:13:57.960' AS DateTime))
SET IDENTITY_INSERT [dbo].[tbl_Leads] OFF
SET IDENTITY_INSERT [dbo].[tbl_Reports] ON 

INSERT [dbo].[tbl_Reports] ([ReportID], [RestaurantID], [ReportReason], [UserMessage], [ReportDate], [Status]) VALUES (1, 2, N'Shop Closed', N'wertyufgh', CAST(N'2026-01-22 16:06:33.267' AS DateTime), N'Resolved')
SET IDENTITY_INSERT [dbo].[tbl_Reports] OFF
SET IDENTITY_INSERT [dbo].[tbl_Restaurants] ON 

SET IDENTITY_INSERT [dbo].[tbl_Restaurants] OFF
SET IDENTITY_INSERT [dbo].[tbl_Reviews] ON 

INSERT [dbo].[tbl_Reviews] ([ReviewID], [RestaurantID], [UserName], [Rating], [ReviewText], [IsApproved], [ReviewDate]) VALUES (1, 2, N'Vishal Garg', 4, N'Amazing taste in this cafe & quick serve', 1, CAST(N'2026-01-22 15:08:23.620' AS DateTime))
INSERT [dbo].[tbl_Reviews] ([ReviewID], [RestaurantID], [UserName], [Rating], [ReviewText], [IsApproved], [ReviewDate]) VALUES (3, 2, N'Gunnu Tailor', 5, N'Best cafe in bhilwara for kulhad pizza', 1, CAST(N'2026-01-22 15:18:21.943' AS DateTime))
INSERT [dbo].[tbl_Reviews] ([ReviewID], [RestaurantID], [UserName], [Rating], [ReviewText], [IsApproved], [ReviewDate]) VALUES (6, 2, N'fg', 5, N'asderftg', 0, CAST(N'2026-01-22 15:25:06.907' AS DateTime))
SET IDENTITY_INSERT [dbo].[tbl_Reviews] OFF
SET IDENTITY_INSERT [dbo].[tbl_Sellers] ON 

INSERT [dbo].[tbl_Sellers] ([SellerID], [FullName], [Email], [Password], [Phone], [Address], [CityID], [RegistrationDate], [IsApproved]) VALUES (2, N'Siddhi Tailor', N'siddhitailor8@gmail.com', N'sidd12', N'7878222694', N' Bde park ke pass Hemu colony park , Bapu Nagar', 1, CAST(N'2026-01-19 16:19:33.847' AS DateTime), 1)
INSERT [dbo].[tbl_Sellers] ([SellerID], [FullName], [Email], [Password], [Phone], [Address], [CityID], [RegistrationDate], [IsApproved]) VALUES (3, N'Vishal Garg', N'cybervishu055@gmail.com', N'vishal12', N'9352693280', N'ajmer Highway , mandal', 1, CAST(N'2026-01-19 16:27:31.973' AS DateTime), 1)
INSERT [dbo].[tbl_Sellers] ([SellerID], [FullName], [Email], [Password], [Phone], [Address], [CityID], [RegistrationDate], [IsApproved]) VALUES (1002, N'Tahir mohammad', N'tahirmohmmad1805786@gmail.com', N'tahir1805', N'8107747226', N'Bophal Ganj , Railway Station Road , Bhilwara', 1, CAST(N'2026-01-24 15:14:09.433' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[tbl_Sellers] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__tbl_Admi__536C85E4024E2CAF]    Script Date: 01-Feb-26 7:35:27 PM ******/
ALTER TABLE [dbo].[tbl_Admin] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__tbl_Sell__A9D10534EE635748]    Script Date: 01-Feb-26 7:35:27 PM ******/
ALTER TABLE [dbo].[tbl_Sellers] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_Areas]  WITH CHECK ADD FOREIGN KEY([CityID])
REFERENCES [dbo].[tbl_Cities] ([CityID])
GO
ALTER TABLE [dbo].[tbl_Reports]  WITH CHECK ADD FOREIGN KEY([RestaurantID])
REFERENCES [dbo].[tbl_Restaurants] ([RestaurantID])
GO
ALTER TABLE [dbo].[tbl_Restaurants]  WITH CHECK ADD FOREIGN KEY([AreaID])
REFERENCES [dbo].[tbl_Areas] ([AreaID])
GO
ALTER TABLE [dbo].[tbl_Restaurants]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[tbl_Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[tbl_Restaurants]  WITH CHECK ADD FOREIGN KEY([CityID])
REFERENCES [dbo].[tbl_Cities] ([CityID])
GO
ALTER TABLE [dbo].[tbl_Restaurants]  WITH CHECK ADD FOREIGN KEY([SellerID])
REFERENCES [dbo].[tbl_Sellers] ([SellerID])
GO
ALTER TABLE [dbo].[tbl_Reviews]  WITH CHECK ADD FOREIGN KEY([RestaurantID])
REFERENCES [dbo].[tbl_Restaurants] ([RestaurantID])
GO
ALTER TABLE [dbo].[tbl_Sellers]  WITH CHECK ADD FOREIGN KEY([CityID])
REFERENCES [dbo].[tbl_Cities] ([CityID])
GO
ALTER TABLE [dbo].[tbl_Reviews]  WITH CHECK ADD CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
